<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon">
  <%= link_to news_main_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/thetravelusts/image/upload/v1583367373/Vestigium/logoWhite-vestigium_jl6geo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Real-time Searching", news_search_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Analysing News", news_main_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= link_to image_tag(current_user.photo, :alt => "User avatar", :class => "avatar-bordered dropdown-toggle"), dashboard_path %>
          <% else %>
            <%= link_to image_tag('https://res.cloudinary.com/thetravelusts/image/upload/v1583901692/Vestigium/astrona_ozwvk7.png', :alt => "User avatar", :class => "avatar-bordered dropdown-toggle"), dashboard_path %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
