<div class="main-home-container news-section">
  <div id="loading-screen"></div>

  <div id="three-container"></div>


  <div id="three-menu">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button id="table" class="btn btn-secondary corner-left">Compress</button>
        <button id="sphere" class="btn btn-secondary">Expand</button>
        <button id='onlyColor' class="btn btn-secondary corner-right">Colorization</button>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Second group">
         <button id='negative' class="btn btn-secondary corner-left">Negative</button>
        <button id='neutral' class="btn btn-secondary">Neutral</button>
        <button id='positive' class="btn btn-secondary corner-right">Positive</button>
      </div>
    </div>

    <div class="btn-group mr-3" role="group" aria-label="Third group">
      <%= form_for :global_map, url: global_map_path, method: :get do |f| %>
            <%= f.submit 'A pale blue dot', class: 'btn btn-secondary btn-map' %>
      <% end %>
    </div>
  </div>

  <div class="search-card">
    <%= form_tag news_main_path,
      class: '',
      id: 'search-field-div',
      method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-input",
        id: 'search-field',
        placeholder: "Find a keyword"
      %>
      <span class="input-group-btn">
        <%= button_tag 'search', class: " search-btn", id: "submit-search-btn" do %>
        <i class="fas fa-search"></i>
        <% end %>
      </span>
    <% end %>

     <div>
      <%= form_tag news_main_path, class: 'keyword', method: :get do %>
        <% @keywords.each do |word| %>
          <%= button_tag :query, class: 'keyword-btn', value: word, name: 'query' do %> <%= word %> <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="modals-container"></div>

</div>


<script>
  let dataJson = <%= @articles %>;
</script>
<%= javascript_pack_tag 'news_main' %>
