<div class="main-home-container news-section">

  <div id="three-container"></div>
    <div id="three-menu">
      <button id="table">TABLE</button>
      <button id="sphere">SPHERE</button>
      <button id="grid">GRID</button>
      <button id='create'>create</button>
    </div>

  <!-- <div id="search-field-div">
      <input type="text" name=search-field id=search-field placeholder="Search...">
      <button id="search-button">Search</button>
  </div> -->

  <div class='row search-bar-container' id="search-field-div">
    <%= form_tag news_main_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-input",
        id: 'search-field',
        placeholder: "Find a keyword"
      %>
      <span class="input-group-btn">
        <i class="fas fa-search"><%= submit_tag "", class: "btn-dark search-btn", id: "submit-search-btn" %></i>
      </span>
    <% end %>
  </div>



<!-- modal display article -->
      <%# @articles.first(3).each do |article| %>
        <%#= link_to article.title, "#", 'data-target': "#exampleModal", 'data-toggle': 'modal'  %>
<!--     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button> -->
  <%# end %>




 <!--  <div class="news-container">
    <br>
    <h2>
      Article Title:     </h2>
    <div class="feature-text-container">

    </div>
    <a href="#" class="keywords-container">

    </a>
  </div>

  <div class="globe-container"> -->



   <!--  <div class="tags-container">
      <a href="#" class="tag left-tag">
        Previous
      </a>
      <a href="#" class="tag right-tag">
        Next
      </a>
    </div>
  </div> -->


</div>




    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%#= article.title %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary"><%#= link_to "save to favorites", article_favorites_path(current_user, article), method: :post %></button>
          </div>
        </div>
      </div>
    </div>
<!-- end modal -->

<script type="module">
  var dataJson = <%= @articles %>;
  let articles = dataJson.slice(0, 60);
  const createButton = document.getElementById('create');
  const searchButton = document.getElementById('submit-search-btn');

  searchButton.addEventListener('click', (e) => {
    e.preventDefault();
    dataJson = <%= @articles %>;
    articles = dataJson.slice(0, 50);
    console.log('hello beauty');
    create3Dglobe2(articles);
  });
</script>
