<div class="main-home-container news-section">

  <div id="three-container"></div>
    <div id="three-menu">
      <button id="table">Spot</button>
      <button id="sphere">Sphere</button>
      <!-- <button id="grid">GRID</button> -->
      <button id='create'>Create</button>
    </div>

  <%= form_tag news_main_path,
    class: 'row search-bar-container',
    id: 'search-field-div',
    method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control search-input",
      id: 'search-field',
      placeholder: "Find a keyword"
    %>
    <span class="input-group-btn">
      <i class="fas fa-search"><%= submit_tag "", class: "btn-dark search-btn", id: "submit-search-btn" %></i>
    </span>
  <% end %>

  <div id="modals-container"></div>


<!-- modal display article -->
      <%# @articles.first(3).each do |article| %>
        <%#= link_to article.title, "#", 'data-target': "#exampleModal", 'data-toggle': 'modal'  %>
<!--     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button> -->
  <%# end %>
<!-- modal display end -->




 <!--  <div class="news-container">
    <br>
    <h2>
      Article Title:     </h2>
    <div class="feature-text-container">

    </div>
    <a href="#" class="keywords-container">

    </a>
  </div>

  <div class="globe-container"> -->



   <!--  <div class="tags-container">
      <a href="#" class="tag left-tag">
        Previous
      </a>
      <a href="#" class="tag right-tag">
        Next
      </a>
    </div>
  </div> -->
</div>





<script>
  let dataJson = <%= @articles %>;
</script>

<%= javascript_pack_tag 'news_main' %>

<!-- <script type="module">
  let dataJson = <%= @articles %>;
  let articles = dataJson.slice(0, 120);
  // const createButton = document.getElementById('create');
  const searchForm = document.getElementById('search-field-div');

  searchForm.addEventListener('submit', (e) => {
    e.preventDefault();
    // let dataJson = <%= @articles %>;
    // articles = dataJson.slice(0, 70);
    console.log('hello beauty');
    create3Dglobe2(articles);
  });
</script> -->
