<div class="main-home-container news-section">
  <div id="loading-screen"></div>

  <div id="three-container"></div>
  <div id="three-menu">
    <button id="table">Spot</button>
    <button id="sphere">Sphere</button>
    <!-- <button id="grid">Grid</button> -->
    <button id='onlyColor'>Color</button>
    <button id='negative'>Negative</button>
    <button id='neutral'>Neutral</button>
    <button id='positive'>Positive</button>
    <%= form_for :global_map, url: global_map_path, method: :get do |f| %>
          <%= f.submit 'Let go to space' %>
    <% end %>
  </div>

  <%= form_tag news_main_path,
    class: 'row search-bar-container',
    id: 'search-field-div',
    method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control search-input",
      id: 'search-field',
      placeholder: "Find a keyword"
    %>
    <span class="input-group-btn">
      <i class="fas fa-search"><%= submit_tag "", class: "btn-dark search-btn", id: "submit-search-btn" %></i>
    </span>
  <% end %>

   <div id="keywords" class="keywords-container">
    <% @keywords.each do |word| %>
      <%= form_tag news_main_path, class: 'keyword', method: :get do %>
        <%= hidden_field_tag :query, params[:query], value: word %>
        <%= submit_tag word %>
      <% end %>
    <% end %>

  </div>

  <div id="modals-container"></div>

   <!--  <div class="tags-container">
      <a href="#" class="tag left-tag">
        Previous
      </a>
      <a href="#" class="tag right-tag">
        Next
      </a>
    </div>
  </div> -->



</div>





<script>
  let dataJson = <%= @articles %>;
</script>
<%= javascript_pack_tag 'news_main' %>
