<div class="main-home-container news-section">

  <div id="three-container"></div>
    <div id="three-menu">
      <button id="table">Spot</button>
      <button id="sphere">Sphere</button>
      <!-- <button id="grid">GRID</button> -->
      <button id='create'>Create</button>
    </div>

  <%= form_tag news_main_path,
    class: 'row search-bar-container',
    id: 'search-field-div',
    method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control search-input",
      id: 'search-field',
      placeholder: "Find a keyword"
    %>
    <span class="input-group-btn">
      <i class="fas fa-search"><%= submit_tag "", class: "btn-dark search-btn", id: "submit-search-btn" %></i>
    </span>
  <% end %>

  <div id="modals-container"></div>

   <!--  <div class="tags-container">
      <a href="#" class="tag left-tag">
        Previous
      </a>
      <a href="#" class="tag right-tag">
        Next
      </a>
    </div>
  </div> -->
</div>





<script>
  let dataJson = <%= @articles %>;
</script>

<%= javascript_pack_tag 'news_main' %>
