<div class="main-home-container news-section">

  <div id="search-field-div">
      <input type="text" name=search-field id=search-field placeholder="Search...">
      <button id="search-button">Search</button>
  </div>

  <% @articles.last(3).each do |article| %>
    <%= link_to article.title, "#", 'data-target': "#article_#{article.id}", 'data-toggle': 'modal'  %>
<!--     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button> -->

    <!-- Modal -->
    <div class="modal fade" id="article_<%= article.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= article.title %>, <%= article.id %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= link_to "save to favorites", article_favorites_path(current_user, article), method: :post %></button>
            <button type="button" class="btn btn-primary" data-dismiss="modal"></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="news-container">
    <br>
    <h2>
      Article Title:     </h2>
    <div class="feature-text-container">

    </div>
    <a href="#" class="keywords-container">

    </a>
  </div>

  <div class="globe-container">
    <div class="tags-container">
      <a href="#" class="tag left-tag">
        Previous
      </a>
      <a href="#" class="tag right-tag">
        Next
      </a>
    </div>
  </div>


</div>


